* {
  box-sizing: border-box;
  margin: 0;
padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  height: 100vh;
  width: 100%;
  background: url("pic3.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*navigation bar*/

#sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #FF0000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
  
 }
 #sidenav li{
  width: 100%;
  height: 50px;
  line-height: 50px;
 }
 #sidenav li a{
  color: yellow;
  padding: 14px 10px;
  text-decoration: none;

 }
 #sidenav li a:hover:not(.active) {
  background-color: #ffcccc;
  }
  #menu{
    height: 50px;
    width: 50px;
    font-size: 40px;
    float: right;
    margin: 50px;
    background: none;
    border: none;
    color: #717171;
    display: none;

  }

.navbar{
    position: sticky;
    top: 0;
    background-color: #00000;
    height: 70px;
    line-height: 70px;
    z-index: 3;
}
.logo{
    float: left;
    height: 100%;
   padding-left: 2rem;
   padding-top: 5px;
}
#navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    padding-right: 2.5rem;

  }
  
  .navlist {
    height: 100%;
    display: inline-block;
  }
  
  .navlist:last-child {
    border-right: none;
  }
  
  .navlist a {
    
    color: black;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
  }
  
  .navlist a:hover:not(.active) {
    background-color: #00ffff;
  }
  
  .active {
    background-color: #00ffff;
  }

  .title {
  font-size: 2em;
  margin-bottom: 1rem;
   text-shadow: 2px 2px 0px black;
   margin-top: 2rem;
  mix-blend-mode: screen;
  margin-left: 15rem;
  padding-bottom: 2rem;
  border-color: black;
  text-align:center;
}

.text{
  color: white;
  margin-left: 40rem;
}

/*table*/

  table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left: 20rem;
    margin-bottom: 5rem;

     }
   
    td, th {
    border: 2px solid black;
    border-radius: 1px;
    text-align: center;
    padding: 10px;

    }

.button2
{
  
 text-align: center;
 margin-top: 20px;
 width: 6em;
 height: 2em;
 font-size: 15px;
 color: black
 background-color:white;
 font-weight: bold;
  border-radius: 10%;
  display: inline-block;
  border: 2px solid #f44336;
  
}

.button2:hover {
  background-color: black;
  color: white;
}

  /* footer */
footer {
  text-align:center;
  padding: 3px;
  background-color: black;
  color: white;
  position: relative;
  width: 100%;
  bottom: 0;
}

.foot li{
    list-style: none;
    display: inline;
    padding: 0.5rem;
    text-align: center;

}